/*숨김처리*/
#u_skip{display:none;}
.special_logo_link{display:none;} fieldset{position: relative; display:inline-axis;}

/*검색엔진*/
#search{position:relative; } div.special_bg{ }
fieldset{border:0px; position:relative; display:inline-axis; }legend{display:none;}